SingleNode:
  restart: always
  image: redis:6.0.8
  ports:
    - "6379:6379"
  environment:
    - DEBUG=false

RedisCluster:
  restart: always
  image: grokzen/redis-cluster:6.0.8
  ports:
    - "30001:30001"
    - "30002:30002"
    - "30003:30003"
    - "30004:30004"
    - "30005:30005"
    - "30006:30006"
  environment:
    - INITIAL_PORT=30001
    - DEBUG=false
